.search-bar-container {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 1px solid white;
    padding: 0.4rem 0.8rem;
    transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out;
    width: 0;
    opacity: 0;
    overflow: hidden;
}

.search-bar-container.open {
    width: 250px;
    opacity: 1;
}

.search-input {
    background: none;
    border: none;
    color: white;
    outline: none;
    flex-grow: 1;
    margin: 0 0.5rem;
    font-size: 0.9rem;
}

.search-input::placeholder {
    color: #ccc;
}

.search-icon,
.close-search-icon {
    color: white;
    cursor: pointer;
}